{% autoescape off %}  
Good day {{request.user.first_name}}!

Thank you for choosing Clinica and entrusting us with your well-being. We're excited that you've taken this important step in your wellness journey, and we are honored to support you along the way.

Your appointment for {{Medical_Specialties}} has been successfully scheduled on {{ Date_and_time}}. During your visit, our professional team will be ready to provide you with personalized care.

Take the first step towards better health today with Clinica. 

We're looking forward to seeing you soon!

Best regards,
Clinica Team
{% endautoescape %} 